
.mainpagecontent {
	margin: 0 auto;
	padding: 0 1rem;
	max-width: 60rem;
  }
.siteheader {
  align-items: center;
	padding: 3rem;
  background-color: rgb(200, 200, 200);
  color: black
  }
.siteheader a {
  padding-right: 5rem;
}
.logo {
  width: 5%;
  height: auto;
  padding: 1rem;
}
.logo img {
  width: 5%;
  height: auto;
}
.sitefooter {
    margin-top: 8rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    background: rgb(100, 100, 100);
    color: white;
  }
/*
#secondtopimage {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1; /* use z index to get text on top of image
}
*/
.toplayout {
  position: relative;
  width: 100%;
  height: auto;
  background-image: url("Images/buckyball-4.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: scroll;
  padding-block: 16rem;
}
.toplayout h2 {
  background-color: rgb(100, 100, 100);
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  color: rgb(255, 255, 255);
}
.toplayout p {
  background-color: rgb(100, 100, 100);
  color: rgb(255, 255, 255);
}
.topleft {
  width: 30%;
  height: auto;
  position: absolute;
  top: 1rem;
  left: 0rem;
}
.topright {
  width: 50%;
  height: auto;
  position: absolute;
  top: 1rem;
  right: 10rem;
}

img {
	width: 100%;
	height: auto;
  }
h1 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 3rem;
}