.mainpagecontent {
  padding: 0 1rem;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
/*
.searchpagecontent {
  margin: 0 auto;
	padding: 0 1rem;
	width: 100%;
  height: auto;
}
*/
/*
.searchpagecontent {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 60rem;
}
*/

/* HEADER */
.siteheader {
  background-color: rgb(141, 167, 196);
  text-decoration: none;
  padding-top: 2rem;
  padding-bottom: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.siteheader.logo img {
  width: 20%;
  position: absolute;
  height: auto;
  background-color: blueviolet;
}
.siteheader ul {
  list-style-type: none;
  margin: 0;
  padding-top: 5%;
  padding-bottom: 1%;
  float: right;
  width: 70%;
}
.siteheader a:link {
  color: rgb(255, 255, 255);
}
.siteheader a:hover {
  color: rgb(52, 137, 235);
}
.siteheader a:active {
  color: rgb(0, 0, 0);
}
.siteheader a:visited {
  color: rgb(255, 255, 255);
}
.siteheader li {
  /*float: right;*/
  display: inline-block;
  padding-left: 15%;
}

/*FOOTER*/
.sitefooter {
  margin-top: 8rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  background: rgb(141, 167, 196);
  color: white;
}
.sitefooter a:link {
  color: rgb(255, 255, 255);
}
.sitefooter a:hover {
  color: rgb(52, 137, 235);
}
.sitefooter a:visited {
  color: rgb(255, 255, 255);
}
/*
#secondtopimage {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1; /* use z index to get text on top of image
}
*/

/*INDEX.HTML TWO IMAGES AND PARAGRAPH*/
.toplayout {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("Images/buckyball-4.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: scroll;
  padding-block: 17.5rem;
}
.toplayout h2 {
  background-color: rgb(145, 145, 145);
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  color: rgb(255, 255, 255);
}
.toplayout p {
  background-color: rgb(145, 145, 145);
  color: rgb(255, 255, 255);
}
.topleft img {
  width: 35%;
  height: 100%;
  position: absolute;
  top: 0rem;
  left: 0rem;
}
.topright {
  width: 60%;
  height: auto;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

/*SEARCH PAGE (OLD)*/
.searchpagecontent {
  padding: 0 1rem;
  max-width: 90%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.molinfo table,
.molinfo th,
.molinfo td {
  border: 1px solid black;
  border-collapse: collapse;
}
.molinfo th {
  background-color: rgb(145, 145, 145);
  color: rgb(255, 255, 255);
}
.molinfo table {
  padding: 2rem;
}
.molinfo tr:nth-child(even) {
  background-color: rgb(200, 200, 200);
}

/*SEARCH PAGE (NEW) */
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.col_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-results {
  width: 60%;
}

.details {
  margin-left: 20px;
  width: 40%;
}

.my-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.my-table th,
.my-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.my-table th {
  background-color: #f2f2f2;
}

.highlighted {
  /* background-color: blue; */
  color: green;
  font-weight: bold;
}

/*OTHER ELEMENTS*/
/*
img {
	width: 100%;
	height: auto;
  }
  */
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
}

body {
  margin: 0;
}

/*
ul {
  list-style-type: none;
  margin: 5;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
*/

/*
li {
  float: left;
}
*/
/*
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
*/

li a:hover {
  background-color: #111;
}

#loading {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-left: 4px solid #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

/*
p {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
*/

.umap {
  border-radius: 20px;
  overflow: hidden;
}
