
.mainpagecontent {
	margin: 0 auto;
	padding: 0 1rem;
	max-width: 60rem;
  }
/*
.searchpagecontent {
  margin: 0 auto;
	padding: 0 1rem;
	width: 100%;
  height: auto;
}
*/
/*
.searchpagecontent {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 60rem;
}
*/

.siteheader {
  /*align-items: center;*/
	padding: 4rem;
  background-color: rgb(141, 167, 196);
  text-decoration: none;
  }
.siteheader.logo {
  /*width: 5%;*/
  height: auto;
  padding: 0rem;
}
.siteheader.logo img {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 15rem;
  height: auto;
}
.siteheader ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*background-color: rgb(150, 200, 200);*/
}
.siteheader a:link {
  color: rgb(255, 255, 255);
}
.siteheader a:hover {
  color: rgb(52, 137, 235);
}
.siteheader a:active {
  color: rgb(0, 0, 0);
}
.siteheader a:visited {
  color: rgb(255, 255, 255);
}
.siteheader li {
  float: right;
}
.siteheader li a {
  display: block;
  text-align: center;
  padding: 1rem;
  padding-right: 8rem;
}

.sitefooter {
    margin-top: 8rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    background: rgb(141, 167, 196);
    color: white;
  }
.sitefooter a:link {
  color: rgb(255, 255, 255);
}
.sitefooter a:hover {
  color: rgb(52, 137, 235);
}
.sitefooter a:visited {
  color: rgb(255, 255, 255);
}
/*
#secondtopimage {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1; /* use z index to get text on top of image
}
*/
.toplayout {
  position: relative;
  width: 100%;
  height: auto;
  background-image: url("Images/buckyball-4.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: scroll;
  padding-block: 16rem;
}
.toplayout h2 {
  background-color: rgb(145, 145, 145);
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  color: rgb(255, 255, 255);
}
.toplayout p {
  background-color: rgb(145, 145, 145);
  color: rgb(255, 255, 255);
}
.topleft {
  width: 30%;
  height: auto;
  position: absolute;
  top: 1rem;
  left: 0rem;
}
.topright {
  width: 50%;
  height: auto;
  position: absolute;
  top: 1rem;
  right: 10rem;
}

img {
	width: 100%;
	height: auto;
  }
h1 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 3rem;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th {
  background-color: rgb(145, 145, 145);
  color: rgb(255, 255, 255);
}
table {
  padding: 2rem;
}
tr:nth-child(even) {
  background-color: rgb(200, 200, 200);
}